body{
    margin: 0;
    color: white;
    background-color: #0c0c0c;
    overflow: hidden;
    font-family: 'Poppins';
}

#user-cursor{
    position: absolute;
    background-color: #682BEB;
    padding: 5px 10px;
    border-radius: 999px;
    white-space: nowrap;
}